body {
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: normal;
    overflow: scroll;
}

.form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    justify-self: center;
    width: 25vw;
}

.form .form-item,
.form .form-item-button {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
}

.form .form-item-button {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.form .form-item .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form .form-item .item label {
    margin-bottom: 0.5rem;
}

.error {
    color: red;
    display: none;
    margin-top: .5rem;
}
