body {
    background-color: #f0f0f0;
    margin: 10px;
    font-size: 22px;
}

div {
    border: 1px solid #000;
    width: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000;
}

.main {
    border: 1px solid #f00;
}

#main {
    border: 1px solid #0f0;
}

body main .inner-div {
    border: 1px solid #f0f;
}

#catPics {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#catPics li {
    list-style: none;
    width: 33%;
}

.error {
    color: #f00;
    display: block;
}

.error.hidden {
    display: none;
}
