.hero-image {
    background-color: bisque;
    background-size: cover;
    height: 200px;
}

nav {
    background-color: lightpurple;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
}

main {
    background-color: rgb(235, 236, 209);
    border-radius: 50%;
    border: 5px inset;
    height: 100%;
}
